[submodule "bulbs-elements"]
	path = bulbs-elements
	url = git@github.com:theonion/bulbs-elements.git
[submodule "django-bulbs"]
	path = django-bulbs
	url = git@github.com:theonion/django-bulbs.git
[submodule "onion-services"]
	path = onion-services
	url = git@github.com:theonion/onion-services.git
[submodule "onion"]
	path = onion
	url = git@github.com:theonion/onion.git
[submodule "videohub"]
	path = videohub
	url = git@github.com:theonion/videohub.git
[submodule "tunic"]
	path = tunic
	url = git@github.com:theonion/tunic.git
